ret_sample.csv
*.csv
\data
.venv
\*.log
*.log
\embedding_batches
*.json
data_exploration.ipynb
\.venv
\.venv_311
\.conda
\catboost_info
\saved_safe
test.py
script.txt
McGill-FIAM Asset Management Hackathon First Challenge 2025.pdf
output.csv
prompt.txt
data_exploration.py
\results
\feature_importance
\team_cv
Team Prize Distribution Agreement.docx
Team Prize Distribution Agreement.pdf
\figs
\csv
.DS_Store
test_models/qlattice_models/
test_models/qlattice_yearly/
*.zip